{% extends 'base.html' %}

{% block title %} All The Movies {% endblock title %}

{% block main %}
    <ul>
        {%for movie in object_list %}
            <li>
                <a href="{% url 'core:MovieDetail' pk=movie.id%}">
                    {{ movie }}
                </a>
            </li>
        {% empty %}
            <li>No Movies yet</li>
        {% endfor %}
        </ul>

        {% if is_paginated %}
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="{% url 'core:MovieListView'%}?page=1">
                            First
                        </a>
                    </li>
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="{% url 'core:MovieListView' %}?page={{ page_obj.previous_page_number }}" 
                                class="page-link">
                                {{ page_obj.previous_page_number }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a href="{% url 'core:MovieListView'%}?page={{ page_obj.number }}" class="page-link">
                            {{ page_obj.number }}
                        </a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="{% url 'core:MovieListView' %}?page={{ page_obj.next_page_number }}"
                        class="page-link">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a href="{% url 'core:MovieListView' %}?page=last" class="page-link">
                            Last
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        <!-- <p>
            Using https?
            {{ request.is_secure|yesno }}
        </p>
    </ul> -->
{% endblock %}



